<%= form_for([@post,@post.comment.build]) do |form| %>

  <div class="card text-white bg-dark mb-3" style="max-width: 32rem;">
	    <% Comment.where(post_id:@post.id).each do |comment| %>
			<p class="card-text">
			<%= link_to User.find(comment.user_id).name+" "+User.find(comment.user_id).lastname,user_path(comment.user_id)%>
      <br>
      <%= comment.text%>
      <br>
      <%= time_ago_in_words(comment.created_at) %>
      <br>
      <%if current_user.id==@user.id%>
        <%= link_to 'Edit', edit_comment_path(comment) %> |
        <%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
      <%end%>
			</p>
			<% end %>
			<div><strong>New comment:</strong></div>
			<%= form.text_area :text, placeholder:"Write your comment here", class:"form-control", rows:3%>


  <div class="actions">
    <%= form.submit %>
  </div>
  </div>
<% end %>
