<link href="/assets/NewPostPageCss.css" media="print" rel="stylesheet" />
<html lang="en">
	<img class="logo"></img>
	<div class="container">	
	<div class="subcontainer">
	<div class="upcontainer">
	<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @liked_post.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @liked_post.user_id %>
</p>

<%= link_to 'Edit', edit_liked_post_path(@liked_post) %> |
<%= link_to 'Back', liked_posts_path %>
	</div>
	</div>
	</div>












