<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @geofence.name %>
</p>
<p>
  <strong>Country:</strong>
  <%= @geofence.country %>
</p>
<p>
  <strong>Latitude:</strong>
  <%= @geofence.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @geofence.longitude %>
</p>

<div style="height:100%; width: 100%;">
  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&center=#{@geofence.latitude},#{@geofence.longitude}&key=AIzaSyBqZU4yLbiGCchEJkO6T2TK8GXLuALHWKw", alt: "Map"%>
</div>


<%= link_to 'Edit', edit_geofence_path(@geofence) %> |
<%= link_to 'Back', geofences_path %>
