<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.text_field :profile %>
  </div>

  <div class="field">
    <%= form.label :is_suspended %>
    <%= form.text_field :is_suspended %>
  </div>

  <div class="field">
    <%= form.label :has_prev_suspension %>
    <%= form.text_field :has_prev_suspension %>
  </div>

  <div class="field">
    <%= form.label :is_blocked %>
    <%= form.text_field :is_blocked %>
  </div>

  <div class="field">
    <%= form.label :geofence_id %>
    <%= form.text_field :geofence_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
