<html lang="en">
	<h1>Editing User</h1>

	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= form_with(model: @user, local: true) do |form| %>
	  <div class="field">
	    <%= form.label :name %>:
	  </div>
	  <div class="field">
	    <%= form.text_field :name %>
	  </div>

	  <div class="field">
	    <%= form.label :lastname %>:
	  </div>
	  <div class="field">
	    <%= form.text_field :lastname %>
	  </div>

	  <div class="field">
	    <%= form.label :address %>:
	  </div>
	  <div class="field">
	    <%= form.text_field :address %>
	  </div>

	  <div class="field">
	    <%= form.label :phone %>:
	  </div>
	  <div class="field">
	    <%= form.text_field :phone %>
	  </div>

	  <div class="field">
	    <%= form.label :email %>:
	  </div>
	  <div class="field">
	    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>
	  </div>

	  <div class="field">
	    Biography:
	  </div>
	  <div class="field">
	    <%= form.text_field :profile %>
	  </div>

	  <div class="field">
	    <%= form.label :image %>:
	  </div>
	  <div class="field">
	    <%= form.file_field :image %>
	  </div>

	  <% if current_user.admin %>
	    <!--input onclick ="toggle()" type="checkbox" class="custom-control-input" id="customSwitch1">
	    <label class="custom-control-label" for="customSwitch1">Toggle this switch to give the user administrator priviledges</label-->
	    <div class="field">
	      <%= form.label :admin %>
	      <%= form.check_box :admin %>
	    </div>
	  <% end %>

	  <!--div class="field">
	    <%= form.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
	    <%= form.password_field :current_password, autocomplete: "current-password" %>
	  </div-->
	<br>
	  <div class="actions">
	    <%= form.submit "Update" %>
	  </div>
	<% end %>
	<br>


	<%= link_to 'Back', user_path %>
	</div>
