<html lang="en">

<br>
<br>
  <table class="table table-striped table-bordered table-condensed display responsive no-wrap" id="posts-table">
      <thead class="thead-dark">
          <tr class="posts header">
          <th scope="col">Title</th>
          <th scope="col">Text</th>
          <th scope="col">User</th>
          <th scope="col">Shared</th>
          <th scope="col">Comments</th>
          <th scope="col">Likes</th>
          <th scope="col">Dislikes</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.text %></td>
            <td><%= User.find(post.user_id).name%></td>
            <td><%= Tag.where(post_id:post.id).count %></td>
            <td><%= Comment.where(post_id:post.id).count%></td>
            <td><%= LikedPost.where(post_id:post.id,positive:true).count%></td>
            <td><%= LikedPost.where(post_id:post.id,positive:false).count%></td>
            <td><%= link_to 'Details', post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<button style="float:right" class="bg-dark">
  <%= link_to 'Create new post!', new_post_path,style:"all:unset;color:white" %>
</button>
<br>
</html>

<script>
  $(function(){
    $('#posts-table').dataTable({
      "bLengthChange": false
    });
  });
</script>
