<html lang="en">
<img class="logo2" onclick="location.href ='/posts/new'"></img>
<div class="welcomeMsg lets">Let's</div>
<div class="welcomeMsg grouch">grouch!</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
    <table class="table table-dark">
      <thead>
          <tr class="posts header">
          <th scope="col">Title</th>
          <th scope="col">Text</th>
          <th scope="col">User ID</th>
          <th scope="col">Follows</th>
          <th scope="col">Upvotes</th>
          <th scope="col">Downvotes</th>
          <th scope="col">Comments</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.title %></td>
            <td><%= post.text %></td>
            <td><%= post.user_id%></td>
            <td><%= post.share_counter %></td>
            <td></td>
            <td></td>
            <td><%= link_to 'Comment', new_comment_path %></td>
            <td><%= link_to 'Details', post %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<br>
<div class="link newpost"><%= link_to 'Create NEW POST!!!', new_post_path %></div>
</html>
