<html lang="en">
	<p id="notice"><%= notice %></p>
	<div class="card text-white bg-dark mb-3" style="max-width: 32rem;">
	    <% (0...@post.images.count).each do |image| %>
			<%= image_tag(@post.images[image]) %>
			<% end %>
	  <div class="card-body">
	    <h5 class="card-title"><strong>Title:</strong><%= @post.title%></h5>
			<p class="link newuser"><strong>Publisher:</strong><%= link_to [@post.user.name, @post.user.lastname].reject(&:blank?).join(' '), user_path(@post.user_id) %></p>
			<p class="card-text"><strong>Location:</strong></p>
			<p class="card-text"><strong>Creation Date:</strong><%= @post.creation_date%></p>
	    <p class="card-text"><strong>Description:</strong><%= @post.text%></p>
	  </div>
	</div>
	</div>


	<%= render 'comments/form'%>

			<button type="button" class="btn text-white bg-dark mb-3">
 			<%=@post.comment.count%> Comments
			</button>
			<button onclick ="upvote()" type="button" class="btn text-white bg-dark mb-3">
			  Upvote <span id='upvote' class="badge badge-light">0</span>
			</button>
			<button onclick ="downvote()" type="button" class="btn text-white bg-dark mb-3">
			  Downvote <span id='downvote' class="badge badge-light">0</span>
			</button>
			<button onclick ="follow()" type="button" class="btn text-white bg-dark mb-3">
			  Follow <span id='follow' class="badge badge-light">0</span>
			</button>
			<button onclick ="flag()" type="button" class="btn text-white bg-dark mb-3">
			  Flag <span id='flag' class="badge badge-light">0</span>
			</button>

			<script type="text/javascript">
				function upvote(){
					var a = document.getElementById('upvote').innerHTML
					a++;
					document.getElementById('upvote').innerHTML = a;
			}
			function downvote(){
				var b = document.getElementById('downvote').innerHTML
				b++
				document.getElementById('downvote').innerHTML = b;
		}
		function follow(){
			var c = document.getElementById('follow').innerHTML
			c++;
			document.getElementById('follow').innerHTML = c;
	}
	function flag(){
		var d = document.getElementById('flag').innerHTML
		d++;
		document.getElementById('flag').innerHTML = d;
}
			</script>
<br>
<%= link_to 'View File', @post.file_attachment if @post.file_attachment.attached? %>
<br>
<%if current_user.admin%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%end%>
<%= link_to 'Back', "/posts" %>
	</div>
	</div>
	</div>
