<html lang="en">

	<p id="notice"><%= notice %></p>
	<div class="card text-white bg-dark mb-3" style="max-width: 32rem;">
	    <% (0...@post.images.count).each do |image| %>
			<%= image_tag(@post.images[image]) %>
			<% end %>
	  <div class="card-body">
	    <h5 class="card-title"><strong>Title:</strong><%= @post.title%></h5>
			<p class="link newuser"><strong>Publisher:</strong><%= link_to [@post.user.name, @post.user.lastname].reject(&:blank?).join(' '), user_path(@post.user_id) %></p>
			<p class="card-text"><strong>Location:</strong></p>
			<p class="card-text"><strong>Creation Date:</strong><%= @post.creation_date%></p>
	    <p class="card-text"><strong>Description:</strong><%= @post.text%></p>
	  </div>
	    </div>

			<button type="button" class="btn text-white bg-dark mb-3">
			  <%= link_to 'Comment', new_comment_path %> <span class="badge badge-light">4</span>
			</button>
			<button type="button" class="btn text-white bg-dark mb-3">
			  Upvote <span class="badge badge-light">4</span>
			</button>
			<button type="button" class="btn text-white bg-dark mb-3">
			  Downvote <span class="badge badge-light">4</span>
			</button>
			<button type="button" class="btn text-white bg-dark mb-3">
			  Follow <span class="badge badge-light">4</span>
			</button>
			<button type="button" class="btn text-white bg-dark mb-3">
			  Flag <span class="badge badge-light">4</span>
			</button>
<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Delete', edit_post_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', post_path %>

	</div>
	</div>
	</div>
