<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @dis_liked_post.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @dis_liked_post.user_id %>
</p>

<%= link_to 'Edit', edit_dis_liked_post_path(@dis_liked_post) %> |
<%= link_to 'Back', dis_liked_posts_path %>
