<%= form_for([@post,@post.report.build]) do |form| %>


  <div class="actions">
    <%= form.select :text, ['Harassment', 'Racism','Threats','Pornography','App Misuse','Sensitive Information','Commercial Trading','Scam']%>
    <%= form.hidden_field :user_id,value:current_user.id%>
    <%= form.hidden_field :post_id,value:@post.id%>
    <%= form.submit%>
  </div>
<% end %>
