<!DOCTYPE html>
<html>
  <link rel="icon" href="https://i.ibb.co/1TL4dSB/output-onlinepngtools.png">
  <head>
    <title>Groucher™</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/posts" style="font-size:20px">
    <image class="small-logo" style="border-radius:100px"> Groucher™
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link" href="/posts">Home<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="/users/posts">Wall<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="/users">Users<span class="sr-only">(current)</span></a>
        </li>

        <li class="nav-item dropdown">
            <%=link_to "Profile", user_path(current_user), class: 'nav-link' %>
        </li>

        <%= form_tag users_path do %>
        <form class="form-inline my-2 my-lg-0" style="float:left">
        <% if controller_name == 'users'%>
          <input class "form-control mr-sm-2" id="searchbar" name= "query" placeholder="User Search" type="text" autocomplete="off" >
          <link_to user_search_path(search), class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
        <% else %>
          <input class "form-control mr-sm-2" id="searchbar" name= "query" placeholder="Other search" type="text" autocomplete="off" >
          <link_to posts_search_path(search), class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
        <% end %>
        </form>
        <% end %>

      </ul>
        <a class="text-muted"> Welcome <%= current_user.name %> <%= current_user.lastname %> &nbsp --> &nbsp </a>
          <%= link_to "LOGOUT", destroy_user_session_path, method: :delete, class:'logoutLink' %>
      <% end %>
    </div>
  </nav>
  <body style="  background:linear-gradient(110deg, #11a316 60%, #0b8c0f 60%);">
    <div class="container">
    <div class="subcontainer">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    <%= yield %>
  </body>
  <br>
  <br>
  <br>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-bottom" >
    <ul class="navbar-nav ml-auto" style="color:white;font-size:10px">
      Groucher™ 2019 &nbsp
      <a style="color:white;" href="https://www.termsofusegenerator.net/live.php?token=8irFopXUdemNtHKlJ4Ux5PeUG5IN5pnr">Terms of Use</a>
      &nbsp|&nbsp
      <a style="color:white;" href="https://www.termsofservicegenerator.net/live.php?token=OrjG4Rwbb73MVG4wAEh8Xs9lPlE121eI">Terms of Service</a>
    </ul>
  </nav>
</html>
